<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/form" method="POST">
    <p>爱好</p>
    <label for="red">足球</label>
    <input type="checkbox" name="hobby[]" value="soccer" id="soccer">
    <label for="green">篮球</label>
    <input type="checkbox" name="hobby[]" value="basketball" id="basketball">
    <label for="blue">唱歌</label>
    <input type="checkbox" name="hobby[]" value="singing" id="singing">
    <input type="submit">
</form>
</body>
</html>